/node_modules
/public/hot
/public/storage
/public/static/*
/public/sitemap.xml
/public/pwabuilder-sw.js
/public/robots.txt
/public/mix-manifest.json
/public/.well-known/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/laradock
./idea
/.vscode
composer-setup.php
composer.phar
