// Default font size
$wh-body-font-size: 20px;

// Avatars
$avatar-sizes: (
    "xxl": 96px,
    "xl": 64px,
    "lg": 48px,
    "md": 32px,
    "sm": 16px,
);

// Custom spacing
$wh-s-xxl: 3rem;
$wh-s-xl: 2rem;
$wh-s-lg: 1rem;
$wh-s-md: 0.6rem;
$wh-s-sm: 0.3rem;

// Custom font sizes
$wh-fs-xxl: 2.4rem;
$wh-fs-xl: 2.0rem;
$wh-fs-lg: 1.6rem;
$wh-fs-md: 1.2rem;
$wh-fs-sm: 0.8rem;

// Gradients
$bg-gradient: linear-gradient(180deg, $dark 0%, $primary 100%);
$bg-gradient-reverse: linear-gradient(180deg, $primary 0%, $dark 100%);
$bg-gradient-success: linear-gradient(180deg, darken($success, 20%) 0%, $success 100%);
$bg-gradient-danger: linear-gradient(180deg, darken($danger, 20%) 0%, $danger 100%);
