$wh-m-xxl: 3rem;
$wh-m-xl: 2rem;
$wh-m-lg: 1rem;
$wh-m-md: 0.6rem;
$wh-m-sm: 0.3rem;

$wh-icon-opacity: 0.75;
$wh-icon-opacity-hover: 0.90;

$wh-body-font-size: 20px;

$wh-font-xxl: 2.4rem;
$wh-font-xl: 2.0rem;
$wh-font-lg: 1.6rem;
$wh-font-md: 1.2rem;
$wh-font-sm: 0.8rem;

$bg-gradient: linear-gradient(180deg, $dark 0%, $primary 100%);
$bg-gradient-success: linear-gradient(180deg, darken($success, 20%) 0%, $success 100%);
$bg-gradient-danger: linear-gradient(180deg, darken($danger, 20%) 0%, $danger 100%);

$avatar-sizes: (
    "xxl": 96px,
    "xl": 64px,
    "lg": 48px,
    "md": 32px,
    "sm": 16px,
);

// Slim select varibles
$height: 30px !default;
$white: $white !default;
$font-color: $body-color !default;
$font-placeholder-color: $gray-600 !default;
$font-disabled-color: $gray-600 !default;
$primary-color: $primary !default;
$border-color: $gray-700 !default;
$search-highlight-color: #fffb8c !default;
$border-radius: 4px !default;
$spacing-l: 8px !default;
$spacing-m: 6px !default;
$spacing-s: 4px !default;
