.settings-json-input {
    font-family: monospace;
    font-size: $wh-font-sm;
}

.admin-main-wrapper {
    margin: 0;
    padding: 0;
}

#admin-main-content {
    padding: 1rem 2rem;

    .admin-section {
        margin-bottom: $wh-m-xl;

        .top-section {
            margin-bottom: $wh-m-xl;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: $wh-m-xl;
            }

            .filter-box {
                margin-right: $wh-m-lg;
            }
        }

        .admin-counter {
            padding: 2rem;
            margin: $wh-m-sm;
            background-color: $primary;
            color: $light;
            border-radius: 1rem;
            text-align: center;
            min-width: 8rem;
        }

        .action-links {
            a.btn {
                padding: 0;
                margin-left: 0.5rem;
                font-size: initial;
                line-height: initial;

                i {
                    opacity: 0.85;
                }
            }

            a.btn:hover {
                i {
                    opacity: 1;
                }
            }
        }
    }
}
