#login {
    margin-bottom: 3rem;

    .wrapper {
        width: 100%;
        max-width: 25rem;
    }

    .header {
        text-align: center;
        margin-bottom: 2rem;

        h4 {
            text-transform: uppercase;
        }
    }
}

#register {
    margin-bottom: 3rem;

    .wrapper{
        width: 100%;
        max-width: 25rem;
    }

    .header {
        text-align: center;
        margin-bottom: 2rem;

        h4 {
            text-transform: uppercase;
        }
    }
}

#email-password {
    margin-bottom: 3rem;

    .wrapper {
        width: 100%;
        max-width: 25rem;
    }

    .header {
        text-align: center;
        margin-bottom: 2rem;

        h4 {
            text-transform: uppercase;
        }
    }
}

#reset-password {
    margin-bottom: 3rem;

    .wrapper{
        width: 100%;
        max-width: 25rem;
    }

    .header {
        text-align: center;
        margin-bottom: 2rem;

        h4 {
            text-transform: uppercase;
        }
    }
}

#confirm-password {
    margin-bottom: 3rem;

    .wrapper{
        width: 100%;
        max-width: 25rem;
    }

    .header {
        text-align: center;
        margin-bottom: 2rem;

        h4 {
            text-transform: uppercase;
        }
    }
}
