html {
    font-size: clamp(1.13rem, 1.08rem + 0.24vw, 1.25rem) !important;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 700;
}

hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.smaller {
    font-size: 0.8rem;
}

.main-wrapper {
    padding-top: 4rem;

    @media (min-width: 992px) {
        padding-top: 5rem;
    }
}

.main-content:not(#admin-main-content),
.sidebar-toggle,
.block {
    margin-bottom: $wh-s-xl;
}

.main-content+.main-pagination {
    margin-top: $wh-s-xxl;
}

.main-pagination {
    margin-bottom: $wh-s-xxl;
}

.main-sidebar {
    padding: 0;

    @media (min-width: 992px) {
        margin-left: $wh-s-xxl;
    }
}

.block-title {
    @extend .lead;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: $wh-s-lg;
}

.writing-tag,
.writing-category {
    margin-bottom: $wh-s-sm;
}

.empty {
    width: 100%;
    max-width: 25rem;
    margin: 4rem auto;
    text-align: center;

    .title {
        margin-bottom: $wh-s-lg;
        text-transform: uppercase;
    }

    .empty-icon {
        font-size: 8rem;
        color: $gray-400;
    }
}

.collapse.no-collapse-lg {
    @media (min-width: 992px) {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

.top-links {
    @extend .smaller, .lead;
    margin-bottom: $wh-s-xl;
    text-transform: capitalize;

    .active {
        color: $primary !important;
    }

    i {
        margin-right: $wh-s-sm;
    }
}

.stats {
    width: min(20rem, 100%);
    margin: auto;

    .badge {
        @extend .bg-light, .text-dark;
        font-weight: normal;
    }

    .badge.click {
        cursor: pointer !important;
    }

    .badge.like:hover,
    .voted {
        i {
            color: $danger !important;
        }
    }

    .badge.shelf:hover,
    .shelved {
        i {
            color: $indigo !important;
        }
    }
}

.no-script {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background-color: rgba($white, 0.98);
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        margin-bottom: $wh-s-lg;
    }
}

.cursor-wait {
    cursor: wait !important;
}

.all-caps {
    text-transform: uppercase;
}

.rotate {
    transform: rotate(180deg);
}

.form-wrapper {
    .title {
        margin-bottom: $wh-s-xl;
    }

    .alert {
        width: 90%;
        max-width: 25rem;
        margin: 0 auto $wh-s-xl;
        text-align: center;

        p {
            margin-bottom: 0;
        }
    }
}

.modal-title {
    font-weight: 700;
}

.alert-delete {
    padding: 0.2rem 0.4rem !important;
}

.d-title {
    text-transform: capitalize;
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.fade-in,
.fade-out {
    overflow: hidden;
}

.fade-out>* {
    margin-top: -10000px;
    transition: margin-top 0s 1s;
}

.offline-wrapper {
    text-align: center;
    background: $bg-gradient;
    display: flex;
    flex-grow: 1;
    color: $white;

    @media (min-height: 740px) {
        align-items: center;
    }

    #offline {
        margin: 2rem auto;
        width: 90%;
        max-width: 25rem;
        border-radius: 0.6rem;
        padding: 2rem;

        @media (min-width: 992px) {
            background-color: rgba($dark, 0.1);
        }

        img {
            width: 96px;
            height: 96px;

            @media (min-width: 992px) {
                width: 192px;
                height: 192px;
            }
        }

        i {
            opacity: 0.6;
        }
    }
}

.user-notifications {
    @include media-breakpoint-down(sm) {
        .actions {
            margin-bottom: $wh-s-sm;
        }
    }

    .user-notification {
        position: relative;
        margin-bottom: $wh-s-md;

        .card-body {
            padding: $wh-s-md $wh-s-lg;

            a {
                font-weight: 700;
            }

            .avatar-wrapper {
                margin-right: $wh-s-lg;
            }
        }
    }
}

.home-head {
    margin-bottom: $wh-s-xl;
}

.badge-indicator {
    position:absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    @extend .rounded-pill;
}

pwa-install {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    z-index: 9997;
    color: var(--bs-dark);
    --install-button-color: var(--bs-primary);
    --modal-z-index: 99999;
    --modal-background-index: 99998;
    --modal-background-color: var(--bs-white);
}

pwa-update {
    --button-background: var(--bs-primary);
}

pwa-install::part(openButton) {
    @extend .btn, .btn-sm, .btn-primary;
}

pwa-update::part(updateToast),
pwa-update::part(offlineToast) {
    @extend .alert, .alert-primary;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-weight: 300;
    max-width: 100%;
    z-index: 9999;

    @include media-breakpoint-down(sm) {
        min-width: unset;
        right: 0.5rem;
        left: 0.5rem;
    }
}

.tribute-container {
    background-color: $white;
    color: $body-color;
    border: 1px solid $gray-400;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    max-height: 15rem;
    width: min(85%, 15rem);
    overflow: auto;
    display: block;
    z-index: 999999;
    border-radius: 0.5rem;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 0.5rem 0.8rem;
            cursor: pointer;
            border-bottom: 1px solid $gray-400;
        }

        li:hover,
        li:focus,
        .highlight {
            background-color: $gray-300 !important;
        }
    }
}

.btn-fixed-br {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
	border-radius: 100%;
	text-align: center;
    box-shadow: 0 0 0.3rem rgba($dark, 0.7);;

    @media (min-width: 992px) {
        display: none;
    }
}
