html {
    font-size: $wh-body-font-size !important;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.main-wrapper {
    padding-top: 3rem;
}

.main-content:not(#admin-main-content),
.sidebar-toggle,
.block {
    margin-bottom: $wh-s-xl;
}

.main-content + .main-pagination {
    margin-top: $wh-s-xxl;
}

.main-pagination {
    margin-bottom: $wh-s-xxl;
}

.main-sidebar {
    padding: 0;

    @media (min-width: 992px) {
        margin-left: $wh-s-xxl;
    }

    .block {
        .block-title {
            font-size: $wh-fs-md;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: $wh-s-lg;
        }

        .writing-tag,
        .writing-category {
            margin-bottom: $wh-s-sm;
        }
    }
}

.empty {
    width: 100%;
    max-width: 25rem;
    margin: 4rem auto;
    text-align: center;

    .title {
        margin-bottom: $wh-s-lg;
        font-size: $wh-fs-md;
        font-weight: 700;
        text-transform: uppercase;
    }

    .empty-icon {
        font-size: 8rem;
        color: $gray-400;
    }
}

.collapse.no-collapse-lg {
    @media (min-width: 992px) {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

.top-links {
    font-size: $wh-fs-lg;
    margin-bottom: $wh-s-xxl;
    text-transform: capitalize;
}

.stats {
    text-align: center;

    button {
        @media (max-width: 576px) {
            margin-bottom: $wh-s-sm;
        }
    }
}

.btn-counter {
    background-color: $gray-100 !important;
    cursor: default !important;
}

.btn-counter:focus {
    box-shadow: 0 0 0 0.2rem rgba($gray-400, 0.25);
}

.btn-counter.click {
    cursor: pointer !important;
}

.btn-counter.click:hover {
    background-color: $gray-200 !important;
}

.btn-counter.like:hover,
.voted {
    i {
        color: $danger !important;
    }
}

.btn-counter.shelf:hover,
.shelved {
    i {
        color: $indigo !important;
    }
}

.no-script {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background-color: rgba($white, 0.98);
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img {
        margin-bottom: $wh-s-lg;
    }
}

.cursor-wait {
    cursor: wait !important;
}

.all-caps {
    text-transform: uppercase;
}

.form-wrapper {
    .title {
        margin-bottom: $wh-s-xl;
    }

    .alert {
        width: 90%;
        max-width: 25rem;
        margin: 0 auto $wh-s-xl;
        text-align: center;
        font-size: $wh-fs-sm;

        p {
            margin-bottom: 0;
        }
    }
}

.modal-title {
    font-weight: 700;
}

.alert-delete {
    padding: 0.2rem 0.4rem !important;
}

.d-title {
    text-transform: capitalize;
}

.ss-main {
    .ss-multi-selected.ss-disabled {
        background-color: transparent !important;

        .ss-values {
            .ss-disabled {
                color: $gray-600 !important;
            }
        }
    }

    .ss-multi-selected {
        border: 0 !important;
        padding: 0 !important;

        .ss-add {
            display: none !important;
        }

        .ss-values {
            padding: 0 !important;

            .ss-value {
                padding: 0.2rem 0.6rem !important;

                .ss-value-text {
                    font-size: 0.7rem !important;
                }
            }
        }
    }

    .ss-content {
        margin: 0 !important;
        margin-top: 4px !important;
        border: 1px solid $gray-500;
        border-radius: 0.3rem;
    }
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.fade-in,
.fade-out {
    overflow: hidden;
}

.fade-out > * {
    margin-top: -10000px;
    transition: margin-top 0s 1s;
}

.offline-wrapper {
    text-align: center;
    background: $bg-gradient;
    display: flex;
    flex-grow: 1;
    color: $white;

    @media (min-height: 740px) {
        align-items: center;
    }

    #offline {
        margin: 2rem auto;
        width: 90%;
        max-width: 25rem;
        border-radius: 0.6rem;
        padding: 2rem;

        @media (min-width: 992px) {
            background-color: rgba($dark, 0.1);
        }

        img {
            width: 96px;
            height: 96px;

            @media (min-width: 992px) {
                width: 192px;
                height: 192px;
            }
        }

        i {
            opacity: 0.6;
        }
    }
}

.user-notifications {
    .user-notification {
        position: relative;
        margin-bottom: $wh-s-md;

        .card-body {
            padding: $wh-s-md $wh-s-lg;

            a {
                font-weight: 700;
            }

            .avatar-wrapper {
                margin-right: $wh-s-lg;
            }
        }
    }
}

.home-head {
    margin-bottom: $wh-s-xl;
}


.icon-badge-container {
    position:relative;
    display: inline-block;
}

.icon-badge-icon {
    font-size: 30px;
    position: relative;
}

.icon-badge {
    background-color: $primary;
    color: white;
    text-align: center;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: absolute; /* changed */
    top: -3px; /* changed */
    left: 15px; /* changed */
}

pwa-install {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    z-index: 9997;
    color: var(--dark);
    --install-button-color: var(--primary);
    --modal-z-index: 99999;
    --modal-background-index: 99998;
    --modal-background-color: var(--white);
}

pwa-install::part(openButton) {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-primary;
}
