.writing-comments {
    .fa-spinner {
        opacity: 0.85;
        margin-bottom: $wh-s-lg;
    }

    .comment-form textarea {
        resize: none;
        overflow: hidden;
        margin-bottom: $wh-s-sm;
    }

    .comment-form .commentbox {
        margin-top: $wh-s-md;
    }

    #post-comment + hr {
        margin: $wh-s-xxl auto;

        @media (max-width: 576px) {
            margin: $wh-s-xl auto;
        }
    }

    #load-more {
        margin-bottom: $wh-s-lg;
    }

    .comment-list {
        position: relative;
        max-width: 100%;

        .comment-tl {
            height: 100%;
            position: absolute;
            z-index: -9999;
            top: 0;
            left: 22px;
            bottom: 0;
            width: 5px;
            background-color: $primary;
        }

        .comment:not(:last-child) {
            margin-bottom: $wh-s-md;
        }

        .comment {
            .meta {
                @extend .smaller, .lead, .text-muted;
                margin-bottom: $wh-s-md;
                text-transform: uppercase;

                span {
                    white-space: nowrap;
                }

                span:first-child {
                    margin-right: $wh-s-md;
                }
            }

            .menu {
                @extend .smaller, .lead, .text-muted;
            }

            .card {
                margin-left: $wh-s-md;
            }

            .btn-link {
                text-decoration: none;
            }

            .comment-body {
                padding: $wh-s-md;
                border-bottom: 0 !important;

                .message {
                    margin-bottom: $wh-s-md;
                }

                .buttons {
                    .likeable:hover, .liked {
                        i {
                            color: $danger !important;
                        }
                    }

                    .badge-reply {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .comments-empty {
        text-align: center;

        i {
            color: $gray-400;
        }

        p:first-child {
            margin-bottom: $wh-s-sm;
        }
    }
}
