.writing-comments {
    .fa-spinner {
        opacity: 0.85;
        margin-bottom: $wh-s-lg;
    }

    #post-comment-form,
    .reply-form {
        .form-group {
            margin-bottom: $wh-s-sm;
        }
    }

    #post-comment-form textarea,
    .reply-form textarea {
        resize: none;
        overflow: hidden;
    }

    .reply-form .commentbox {
        margin-top: $wh-s-md;
    }

    #post-comment + hr {
        margin: $wh-s-xxl auto;

        @media (max-width: 576px) {
            margin: $wh-s-xl auto;
        }
    }

    #load-more {
        margin-bottom: $wh-s-lg;
    }

    .comment-list {
        max-width: 100%;

        .comment {
            margin-bottom: $wh-s-sm;
            border: 1px solid $gray-300;
            background-color: $gray-100;
            border-radius: 0.5rem;
            padding: 0.5rem;

            .comment-author {
                margin-right: $wh-s-lg;
            }

            .comment-body {
                .author {
                    @extend .smaller, .lead;
                    text-transform: uppercase;
                    margin-bottom:$wh-s-sm;

                    span:first-child {
                        margin-right: $wh-s-md;
                    }
                }

                .message {
                    .badge {
                        cursor: pointer;
                        margin-left: $wh-s-sm;
                        opacity: 0.85;
                    }

                    .badge:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .reply-list {
            padding-left: 3rem;

            .reply {
                margin-bottom: $wh-s-sm;
                border: 1px solid $gray-300;
                background-color: $gray-100;
                border-radius: 0.5rem;
                padding: 0.5rem;

                .reply-author {
                    margin-right: $wh-s-lg;
                }

                .reply-body {
                    .author {
                        @extend .smaller, .lead;
                        text-transform: uppercase;
                        margin-bottom: $wh-s-sm;

                        span:first-child {
                            margin-right: $wh-s-md;
                        }
                    }
                }
            }
        }
    }

    .comments-empty {
        text-align: center;

        i {
            color: $gray-400;
        }

        p:first-child {
            margin-bottom: $wh-s-sm;
        }
    }
}
