#footer {
    margin-top: auto;
    font-size: 0.7rem;
    text-align: center;
    background-color: $indigo;
    color: $light;
    padding-top: 2rem;
    padding-bottom: 2rem;

    a {
        color: $light;
    }

    a:hover {
        color: $white;
    }

    .social-links {
        font-size: 1.2rem;

        a {
            margin: 0 0.25rem;
        }

        a:hover {
            text-decoration: none;
        }
    }

    .social-links > * {
        margin-bottom: 2rem;
    }

    #back-to-top {
        position: fixed;
        right: 20px;
        bottom: 20px;
        z-index: 99999;
    }
}
