#footer {
    margin-top: auto;
    font-size: 0.7rem;
    text-align: center;
    background: linear-gradient(180deg, $dark 0%, $indigo 100%);
    color: $white;
    padding-top: 2rem;
    padding-bottom: 2rem;

    a {
        color: $light;
    }

    a:hover {
        color: $white;
    }

    .social-links {
        font-size: 1.2rem;

        a {
            margin: 0 0.25rem;
        }

        a:hover {
            text-decoration: none;
        }
    }

    .social-links:not(:empty) {
        margin-bottom: 1rem;
    }

    #back-to-top-wrapper {
        position: fixed;
        right: 20px;
        bottom: 20px;
        z-index: 99999;

        button {
            width: 42px !important;
            height: 42px !important;
            font-size: 24px !important;
            padding: 4px !important;
            border-radius: 100% !important;
            border: 1px solid darken($indigo, 10%);
            background-color: $indigo;
            color: $light;

            i {
                vertical-align: text-top;
            }
        }

        button:hover {
            background-color: darken($indigo, 10%);
        }
    }
}
