#footer {
    margin-top: auto;
    font-size: $wh-font-sm;
    text-align: center;
    background: $bg-gradient;
    color: $white;
    padding: 2rem;

    a {
        color: $white;
    }

    a:hover {
        color: $light;
    }

    .social-links {
        font-size: $wh-font-md;

        a {
            margin: 0 $wh-m-sm;
        }

        a:hover {
            text-decoration: none;
        }
    }

    .social-links:not(:empty) {
        margin-bottom: $wh-m-lg;
    }

    #back-to-top-wrapper {
        position: fixed;
        right: 2rem;
        bottom: 1rem;
        z-index: 99999;
    }
}
