section.header {
    display: flex;
    flex-direction: column;
    color: $white;
    background: linear-gradient(
                45deg,
                rgba($dark, 0.7),
                rgba($primary, 0.7),
                rgba($dark, 0.7),
                rgba($primary, 0.7),
                rgba($dark, 0.7)
            )
            0 0 / 1000% no-repeat,
        url("/static/images/cover.jpg") 0 0 / cover no-repeat;

    .welcome {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        #jump-to-nav {
            color: rgba($white, 0.3);
            position: absolute;
            bottom: 3rem;
        }
    }
}

#hero {
    .welcome {
        height: 100vh;
    }
}

#header {
    height: 300px;
}

@-webkit-keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }
    50% {
        background-position: 100% 70%, 0 0;
    }
    100% {
        background-position: 0% 30%, 0 0;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }
    50% {
        background-position: 100% 70%, 0 0;
    }
    100% {
        background-position: 0% 30%, 0 0;
    }
}
