.login-wrapper {
    display: flex;
    flex-wrap: wrap;

    .logo,
    .login {
        width: 100%;
        padding: 1rem 2rem;

        @media (min-width: 992px) {
            width: 50%;
            min-height: 100vh;
        }
    }

    .logo {
        background: $bg-gradient;
        text-align: center;

        div {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (min-width: 992px) {
                height: 100%;
            }

            a {
                color: $white;

                img {
                    width: 64px;
                    height: 64px;
                    margin-bottom: $wh-m-lg;

                    @media (min-width: 992px) {
                        width: 128px;
                        height: 128px;
                    }
                }

                h1 {
                    @media (max-width: 992px) {
                        font-size: $wh-font-xl;
                        margin-bottom: 0;
                    }
                }
            }

            a:hover {
                color: $light;
            }
        }
    }

    .login {
        display: flex;
        justify-content: center;
        align-items: center;

        .form-wrapper {
            width: 100%;
            max-width: 25rem;

            form {
                .btn {
                    text-transform: capitalize;
                }
            }
        }

        .header,
        .info {
            text-align: center;
            margin-bottom: $wh-m-lg;
        }

        .email-confirmed {
            margin-top: $wh-m-lg;
        }

        .social {
            text-align: center;
            margin-bottom: $wh-m-lg;

            .btn-blue {
                background-color: $blue;
                border-color: $blue;
            }
        }
    }
}

.socialite {
    margin: $wh-m-lg auto;

    .btn-blue {
        background-color: $blue;
        border-color: $blue;
    }
}
