nav {
    font-size: $wh-font-sm;
}

#nav-main {
    padding-top: $wh-m-md;
    padding-bottom: $wh-m-md;

    .navbar-brand {
        font-weight: 700;

        img {
            transition: transform .5s;
            margin-right: $wh-m-sm;
        }
    }

    .navbar-brand:hover {
        img {
            transform: scale(1.3);
        }
    }

    #toggler {
        position: relative;
        box-sizing: border-box;
        z-index: 9996;
        background-color: transparent;
        padding: $wh-m-sm $wh-m-md;

        .icon-badge-container {
            transition: all 0.5s;
        }

        .icon-badge-container.rotate {
            transform: rotate(180deg);

            .icon-badge {
                opacity: 0;
            }
        }

        i {
            color: $white;
        }
    }

    #toggler:focus {
        outline: 1px solid $primary;
    }

    .navbar-nav {
        li:not(:first-child) {
            margin-left: $wh-m-lg;
        }
    }

    .nav-item {
        border-bottom: 0.15rem solid transparent;

        .nav-link {
            color: $white;
            font-weight: 700;
        }

        i {
            margin-right: $wh-m-sm;
        }

        .dropdown-menu {
            a.dropdown-item,
            button {
                border-radius: 0;
                text-transform: capitalize !important;
            }
        }
    }

    .nav-item:hover,
    .nav-item.active {
        border-bottom: 0.15rem solid $white;
    }

    .nav-item.active {
        a {
            font-weight: 700;
        }
    }
}

.admin-main-wrapper {
    margin-top: $wh-m-lg;

    nav {
        position: absolute;
        top: 1rem;
        right: 2rem;

        @media (min-width: 992px) {
            display: none;
        }
    }
}
