nav {
    font-size: $wh-font-sm;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 0;

    .navbar-brand {
        img {
            transition: transform .5s, filter .5s ease-in-out;
            filter: grayscale(90%);
        }
    }

    .navbar-brand:hover {
        img {
            filter: grayscale(0);
            transform: scale(1.3);
        }
    }

    #toggler {
        position: relative;
        transition: all 0.5s;
        box-sizing: border-box;
        z-index: 9998;
        background-color: transparent;

        i {
            color: $white;
        }
    }

    #toggler.rotate {
        transform: rotate(180deg);
    }

    .navbar-nav {
        li:not(:first-child) {
            margin-left: $wh-m-xl;
        }
    }

    .nav-item {
        border-bottom: 0.15rem solid transparent;

        .nav-link {
            color: $white;
            font-weight: 700;
            padding-left: 0;
            padding-right: 0;
        }

        i {
            margin-right: $wh-m-sm;
        }

        .dropdown-menu {
            a.dropdown-item,
            button {
                text-transform: capitalize !important;
                font-weight: 400;
                color: $gray-700;
            }

            a:hover.dropdown-item,
            a:active.dropdown-item,
            button:hover,
            button:active {
                font-weight: 400;
                color: $gray-900;
                background-color: transparent;
            }
        }
    }

    .nav-item:active,
    .nav-item:hover,
    .nav-item.active {
        border-bottom: 0.15rem solid $primary;
    }

    .nav-item.active {
        a {
            font-weight: 700;
        }
    }
}

.admin-main-wrapper {
    margin-top: $wh-m-lg;

    nav {
        position: absolute;
        top: 1rem;
        right: 2rem;

        @media (min-width: 992px) {
            display: none;
        }
    }
}
