#nav-desktop {
    @extend .smaller, .lead;
    padding-top: $wh-s-md;
    padding-bottom: $wh-s-md;
    background: $bg-gradient-reverse;

    .navbar-brand {
        color: $white;

        img {
            transition: transform .5s;
            margin-right: $wh-s-sm;
        }
    }

    .navbar-brand:hover {
        img {
            transform: scale(1.3);
        }
    }

    .navbar-nav {
        li:not(:first-child) {
            margin-left: $wh-s-lg;
        }
    }

    .nav-item {
        border-bottom: 0.15rem solid transparent;
        transition: border 1s linear;

        .nav-link {
            color: $white;
        }

        i {
            margin-right: $wh-s-sm;
        }

        .dropdown-menu {
            a.dropdown-item,
            button {
                border-radius: 0;
                text-transform: capitalize !important;
            }
        }
    }

    .nav-item:hover,
    .nav-item.active {
        border-bottom: 0.15rem solid $white;
    }

    .nav-item.active {
        a {
            font-weight: 700;
        }
    }
}

.admin-main-wrapper {
    margin-top: $wh-s-lg;

    nav {
        position: absolute;
        top: 1rem;
        right: 2rem;

        @media (min-width: 992px) {
            display: none;
        }
    }
}

#nav-mobile {
    padding-top: $wh-s-md;
    padding-bottom: $wh-s-md;
    background: $bg-gradient-reverse;

    .mobile-nav-link {
        color: $light;
    }
}
