.offcanvas-sidebar {
    z-index: 9999;
    background: $bg-gradient;
    color: $white;
    max-width: 80%;

    .offcanvas-body {
        padding: 0;
    }

    .nav-item:first-child {
        border-top: 1px solid rgba($light, .05);
    }

    .nav-item {
        border-bottom: 1px solid rgba($light, .05);

        a,
        button {
            text-transform: capitalize !important;
            color: $white;
            padding: 0.6em 0 0.6rem 1rem;
        }

        button,
        button:active,
        button:hover,
        button:focus {
            background-color: transparent;
            width: 100%;
            text-align: left;
        }

        i {
            margin-right: 0.8rem;
        }
    }

    .nav-item.active,
    .nav-item:hover,
    .nav-item:focus {
        background-color: rgba($light, .05);
    }

    #legal-frame-links {
        li {
            margin-left: 1rem;

            a {
                padding: 0.3rem;
            }
        }

        li:first-child {
            margin-top: 0.3rem;
        }

        li:last-child {
            margin-bottom: 0.3rem;
        }
    }
}
