.toast-wrapper.show {
    display: block;
    z-index: 99999;
}

.toast-wrapper {
    position: fixed;
    top: 3.5rem;
    width: 100%;
    display: none;

    .toasts {
        position: relative;
        width: 70%;
        max-width: 20rem;
        margin: 0 auto;

        .toast {
            background: $bg-gradient;
            border: 1px solid $primary;
            box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.4);
            color: $white !important;

            .toast-header {
                background-color: transparent;
                color: $white;
                border-bottom: 1px solid rgba($primary, .25);

                img {
                    margin-right: $wh-m-sm;
                }

                button {
                    color: $white;
                }
            }

            a {
                color: $white;
            }
        }

        .toast.success {
            background: $bg-gradient-success;
            border: 1px solid $success;

            .toast-header {
                border-bottom: 1px solid rgba($success, .25);
            }

            a {
                color: $white;
            }
        }

        .toast.danger {
            background: $bg-gradient-danger;
            border: 1px solid $danger;

            .toast-header {
                border-bottom: 1px solid rgba($danger, .25);
            }

            a {
                color: $white;
            }
        }
    }
}
