.avatar-chooser {
    cursor: pointer;

    i {
        opacity: 0.6;
        position: relative;
        right: 64px;

        @media (max-width: 567px) {
            position: relative;
            right: 48px;
        }
    }
}

.avatar-chooser:hover {
    i {
        opacity: 0.9;
    }
}

#users-main-content {
    #user-list {
        .user-banner:not(:last-child) {
            margin-bottom: $wh-s-md;
        }

        .user-banner {
            padding: $wh-s-lg;
            background-color: $gray-100;
            border: 1px solid $gray-300;
            border-radius: $wh-s-sm;

            .user-header {
                position: relative;
            }

            .profile-bio {
                margin: $wh-s-sm 0;
            }

            .stretched-link:hover {
                text-decoration: none;
            }

            .avatar {
                margin-right: $wh-s-md;
                margin-bottom: $wh-s-sm;
            }
        }
    }
}

.writing-likers {
    .author-link {
        position: relative;
        margin-bottom: $wh-s-sm;
        margin-right: $wh-s-sm;
    }
}

.block {
    .author-link {
        position: relative;
        margin: 0.2rem;
    }
}

hr.banner {
    margin-bottom: $wh-s-xl;
}

.user-profile {
    margin-bottom: $wh-s-lg;

    .profile-header {
        margin-bottom: $wh-s-lg;

        span {
            display: block;
        }

        .user-name {
            font-weight: 700;
        }

        .username {
            margin-bottom: $wh-s-sm;
        }

        .profile-bio {
            width: 100%;
            max-width: 20rem;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .avatar {
        margin-bottom: $wh-s-sm;
    }

    /* .user-stats {
        margin-bottom: $wh-s-xl;
    } */

    .profile-footer {
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        .actions {
            .btn {
                margin: 0.15rem;
                text-transform: capitalize;

                i {
                    margin-right: $wh-s-sm;
                }
            }

            @media (max-width: 576px) {
                .btn {
                    display: block;
                }
            }
        }
    }
}

#profile-form-wrapper {
    #profile-form {
        .form-check {
            font-size: span {
                vertical-align: middle;
            }
        }
    }
}
