.avatar-chooser {
    cursor: pointer;

    i {
        opacity: 0.6;
        position: relative;
        right: 64px;

        @media (max-width: 567px) {
            position: relative;
            right: 48px;
        }
    }
}

.avatar-chooser:hover {
    i {
        opacity: 0.9;
    }
}

.writing-likers {
    .author-link {
        position: relative;
        margin-bottom: $wh-s-sm;
        margin-right: $wh-s-sm;
    }
}

.block {
    .author-link {
        position: relative;
        margin: 0.2rem;
    }
}

hr.banner {
    margin-bottom: $wh-s-xl;
}

#user-list {
    margin-bottom: $wh-s-lg;

    .card-body {
        position: relative;
    }

    .card-footer {
        padding: 0;
    }
}

#user-profile {
    margin-bottom: $wh-s-lg;

    .dropstart {
        position: absolute;
        right: 1rem;
    }

    #profile-header {
        margin-bottom: $wh-s-lg;

        span {
            display: block;
        }

        .avatar {
            margin-bottom: $wh-s-sm;
        }

        .user-name {
            font-weight: 700;
        }

        .username {
            margin-bottom: $wh-s-sm;
        }

        .profile-bio {
            width: 100%;
            max-width: 20rem;
            margin-left: auto;
            margin-right: auto;
        }
    }

    #profile-social-links {
        text-align: center;
        width: 25rem;
        max-width: 100%;
        margin: 0 auto;
    }

    #profile-social-links > span {
        margin-bottom: $wh-s-lg;
    }

    #profile-stats,
    #profile-more-info {
        margin-bottom: $wh-s-xl;
    }

    #profile-writings {
        .profile-writing-entry {
            position: relative;

            .writing-title {
                text-transform: uppercase;
                text-align: center;

                a,
                a:hover{
                    text-decoration: none;
                }
            }

            .writing-subtitle {
                @extend .smaller, .lead, .text-muted;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: $wh-s-lg;

                span {
                    white-space: nowrap;
                    padding: 0 $wh-s-sm;
                }
            }
        }

        .profile-writing-entry:first-child {
            margin-bottom: $wh-s-lg;
        }
    }
}

#profile-form-wrapper {
    #profile-form {
        .form-check {
            font-size: span {
                vertical-align: middle;
            }
        }
    }
}

.account-manager {
    a, .btn-link {
        text-decoration: none !important;
    }
}
