.writing-entry + hr {
    margin: $wh-s-xxl auto;

    @media (max-width: 576px) {
        margin: $wh-s-xl auto;
    }
}

.writing-entry {
    overflow-wrap: break-word;
    word-break: break-word;

    .writing-meta {
        text-transform: uppercase;
        font-size: 0.85rem;

        @include media-breakpoint-up(md) {
            font-size: 0.95rem;
        }

        i {
            opacity: 0.7;
        }

        small:first-child {
            margin-right: $wh-s-md;
        }
    }

    .writing-title {
        text-transform: uppercase;
        margin-bottom: 0;

        a,
        a:hover{
            text-decoration: none;
        }
    }

    .writing-heading {
        margin-bottom: $wh-s-lg;

        p {
            span {
                margin-right: $wh-s-xl;
            }
        }
    }

    .writing-cover,
    .writing-cover img {
        width: 100%;
        height: auto;
        max-width: 1280px;
    }

    .writing-cover {
        border-radius: 0.3rem;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: $wh-s-lg;

        img {
            transition: transform .5s, filter .5s ease-in-out;
        }

        img:hover {
            transform: scale(1.1);
        }
    }

    .writing-author {
        @media (min-width: 768px) {
            margin-right: $wh-s-lg;
        }

        @media (max-width: 768px) {
            margin-bottom: $wh-s-lg;
        }
    }

    .writing-link {
        margin-bottom: $wh-s-lg;
        overflow: hidden;
        text-overflow: ellipsis;

        .btn {
            text-align: left;
            padding-left: 0;

            i {
                opacity: .5;
            }
        }

        .btn:hover {
            i {
                opacity: .8;
            }
        }
    }

    .writing-footer {
        margin-bottom: $wh-s-lg;

        .footer-item {
            i {
                margin-right: $wh-s-md;
                opacity: 0.8;
                vertical-align: middle;
            }

            .badge {
                padding: 0.4rem 0.6rem !important;
                font-weight: normal;
            }
        }

        .footer-item:not(:last-child) {
            margin-bottom: $wh-s-sm;
        }
    }

    .writing-likers {
        margin-top: $wh-s-lg;

        small {
            display: block;
            margin-bottom: $wh-s-md;
        }
    }

    .btn-read-more {
        text-transform: capitalize;

        @media (max-width: 768px) {
            margin-bottom: $wh-s-lg;
        }

        @media (min-width: 768px) {
            margin-right: $wh-s-xl;
        }
    }
}

#writings-main-content {
    .user-banner {
        .avatar {
            margin-bottom: $wh-s-md
        }

        .user-name {
            font-weight: 700;
            font-size: $wh-fs-md;
            text-decoration: none;
        }
    }

    .subtitle {
        text-align: center;
        text-transform: capitalize;
    }
}

#writing-form-wrapper {
    #writing-form {
        #cover-chooser {
            text-align: center;
            padding: 1rem;
            background-color: $gray-200;
            border: 1px solid $gray-400;
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: $wh-fs-sm;
            width: 100%;

            p {
                margin-bottom: 0;
            }
        }
    }
}
