.writing-entry + .writing-comments {
    margin: $wh-s-xxl auto;

    @media (max-width: 576px) {
        margin: $wh-s-xl auto;
    }
}

.writing-entry {
    overflow-wrap: break-word;
    word-break: break-word;

    .card-subtitle {
        @extend .smaller, .lead;
        text-transform: uppercase;
        margin-bottom: $wh-s-lg;

        span:first-child {
            margin-right: $wh-s-md;
        }
    }

    .card-title {
        text-transform: uppercase;
        //margin-bottom: 0;

        a,
        a:hover{
            text-decoration: none;
        }
    }

    .writing-cover,
    .writing-cover img {
        width: 100%;
        height: auto;
        max-width: 1280px;
    }

    .writing-cover {
        margin-right: auto;
        margin-left: auto;
    }

    .writing-author {
        text-align: center;
    }

    .writing-cover + .writing-author {
        margin-top: -48px; // xxl / 2
    }

    .cover {
        .writing-author:first-child {
            margin-top: $wh-s-lg;
        }
    }

    .writing-link {
        margin-bottom: $wh-s-lg;
        overflow: hidden;
        text-overflow: ellipsis;

        .btn {
            text-align: left;
            padding-left: 0;
        }
    }

    .writing-body {
        font-style: italic;
    }

    .writing-footer {
        margin-bottom: $wh-s-lg;

        .footer-item {
            i {
                margin-right: $wh-s-md;
                opacity: 0.8;
                vertical-align: middle;
            }

            .badge {
                padding: 0.4rem 0.6rem !important;
                font-weight: normal;
            }
        }

        .footer-item:not(:last-child) {
            margin-bottom: $wh-s-sm;
        }
    }

    .writing-likers {
        margin-top: $wh-s-lg;

        small {
            display: block;
            margin-bottom: $wh-s-md;
        }
    }

    .btn-read-more {
        text-transform: capitalize;

        @media (max-width: 768px) {
            margin-bottom: $wh-s-lg;
        }

        @media (min-width: 768px) {
            margin-right: $wh-s-xl;
        }
    }
}

#writings-main-content {
    .subtitle {
        @extend .text-muted;
        text-align: center;
    }
}

#writing-form-wrapper {
    #writing-form {
        #cover-chooser {
            text-align: center;
            padding: 1rem;
            background-color: $gray-200;
            border: 1px solid $gray-400;
            border-radius: 0.5rem;
            cursor: pointer;
            width: 100%;

            p {
                margin-bottom: 0;
            }
        }
    }
}
